html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
$body-bgc:#f5f5f5;

/* document.documentElement.scrollTop */
/* document.body.scrollTop */
