@mixin  flex($direction:row,$inline:block,$justify:center,$align:center) {
  display: if($inline==block,flex,inline-flex);
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: wrap;
}
@mixin ellipsis($singe:single) {
  overflow: hidden;
  text-overflow:ellipsis;
  @if($singe==single){
    white-space: nowrap;
  }@else{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal !important;
    word-wrap: break-word;
  }
}
@mixin font-style($fontSize:14px,$fontColor:#666) {
  font-family: PingFangSC-Regular;
  font-size: $fontSize;
  color: $fontColor;
}
@mixin  fix-position($site:top) {
  position: fixed;
  z-index: 40;
  @if($site==top){
    top:0
  }@else{
    bottom: 0;
  }
}
