@mixin  flex($direction:row,$inline:block,$justify:center,$align:center) {
  display: if($inline==block,flex,inline-flex);
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: wrap;
}
@mixin ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
@mixin font-style {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666666;
}
@mixin  fix-position($site:top) {
  position: fixed;
  z-index: 40;
  @if($site==top){
    top:0
  }@else{
    bottom: 0;
  }
}
